{% extends 'layout.html' %}
{% block content %}
<h1 class="maincont-ttl">GRACIAS POR TU COMPRA</h1>
<h1 class="maincont-ttl">Nro Pedido : {{pedido.nro_pedido}}</h1>
<h1 class="maincont-ttl">Forma de Pago : {{pedido.forma_pago}}</h1>
<h1 class="maincont-ttl">Codigo de Pago : {{pedido.codigo_pago}}</h1>
<h1 class="maincont-ttl">Fecha : {{pedido.fecha_registro}}</h1>
    <article class="page-cont">
        <div class="page-styling">
            <div class="auth-wrap">
                <div class="auth-col">
                    <h2>Datos del Cliente</h2>
                    <p>
                        <label for="nombre">DNI : {{pedido.cliente.dni}}</label>
                    </p>
                    <p>
                        <label for="nombre">Nombres : {{user.first_name}}</label>
                    </p>
                    <p>
                        <label for="nombre">Apellidos : {{user.last_name}}</label>
                    </p>
                    
                </div>
                <div class="auth-col">
                    <h2>Datos de Envio</h2>
                    <p>
                        <label for="nombre">Dirección : {{pedido.cliente.direccion}}</label>
                        
                    </p>
                    <p>
                        <label for="nombre">Telefono : {{pedido.cliente.telefono}}</label>
                        
                    </p>
                    <p>
                        <label for="nombre">Email : {{user.email}}</label>
                        
                    </p>
                </div>
            </div>
        </div>
    </article>
    <article class="page-cont">
        <h2>Productos comprados</h2>
        <div class="page-styling">
            <div class="woocommerce prod-litems section-list">
                {% for detalle in pedido.pedidodetalle_set.all %}
                    <article class="prod-li sectls">
                        <div class="prod-li-inner">
                            <a href="#" class="prod-li-img">
                                <img src="{{detalle.producto.imagen.url}}" alt="">
                            </a>
                            <div class="prod-li-cont">
                                <div class="prod-li-ttl-wrap">
                                    <p>
                                        <a href="#">{{detalle.producto.categoria}}</a>
                                    </p>
                                    <h3><a href="#">{{detalle.producto.nombre}}</a></h3>
                                </div><!--
                No Space
                --><div class="prod-li-prices">
                                <div class="prod-li-price-wrap">
                                    <p>Precio</p>
                                    <p class="prod-li-price">${{detalle.producto.precio}}</p>
                                </div>
                                <div class="prod-li-qnt-wrap">
                                    <p class="qnt-wrap prod-li-qnt">
                                        <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                        <input type="text" value="{{detalle.cantidad}}">
                                        <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                                    </p>
                                </div>
                                <div class="prod-li-total-wrap">
                                    <p>Total</p>
                                    <p class="prod-li-total">${{detalle.subtotal}}</p>
                                </div>
                            </div><!--
            No Space
            -->     </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        
            <div class="cart-actions">
                <div class="cart-collaterals">
                    <div class="order-total">
                        <p class="cart-totals-ttl">Total</p>
                        <p class="cart-totals-val">${{pedido.monto_total}}</p>
                    </div>
                </div>
            </div>        
    </article>
{% endblock %}