{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'includes/meta.html' %}
</head>
<body>
<div id="page" class="site">
    {% include 'includes/navBar.html' %}

    {% include 'includes/header.html' %}


    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="cont maincont">

                    {%block content %}
                    {% endblock %}

                </div>
            </main><!-- #main -->
        </div><!-- #primary -->

    </div><!-- #content -->

    {% include 'includes/footer.html' %}

    {% include 'includes/modals.html' %}
</div><!-- #page -->

<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/jquery-plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>