{% extends 'layout.html' %}
{% block content %}
    {% include 'includes/catalog/breadcrumb.html' %}
    <article>
    <div class="prod">
        {% include 'includes/catalog/producto_galeria.html' %}

        <div class="prod-cont">
            <div class="prod-rating-wrap">
                <p data-rating="4" class="prod-rating">
                    <i class="rating-ico" title="1"></i><i class="rating-ico" title="2"></i><i class="rating-ico" title="3"></i><i class="rating-ico" title="4"></i><i class="rating-ico" title="5"></i>
                </p>
                <p class="prod-rating-count">7</p>
            </div>
            <p class="prod-categs"><a href="#">{{producto.categoria}}</a></p>
            <h1>{{producto.nombre}}</h1>
            <div class="variations_form cart">
                <p class="prod-price">${{producto.precio}}</p>
                <p class="prod-excerpt">{{producto.descripcion}}</p>
                <div class="prod-add">
                    <form action="{% url 'web:agregarCarrito' producto.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="button"><i class="icon ion-android-cart"></i> Add to cart</button>
                        <p class="qnt-wrap prod-li-qnt">
                            <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                            <input type="text" value="1" name="cantidad">
                            <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                        </p>
                        <div class="prod-li-favorites">
                            <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                        </div>
                        <p class="prod-li-compare">
                            <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="prod-props">
                {{producto.caracteristica}}
            </div>
        </div>
        <p class="prod-badge">
            <span class="badge-1">TOP SELLER</span>
        </p>
    </div>
    {% include 'includes/catalog/relacionados.html' %}
    </article>
{% endblock %}